BOT__TOKEN=
BOT__OWNER_IDS=
BOT__MEMBER_LOG_CHANNEL=
BOT__MSG_DELETE_LOG_CHANNEL=
BOT__UPDATES_CHANNEL=
BOT__APP_STORE_ROLE=
BOT__WHITELIST_CHANNEL_IDS=
BOT__RATE_COOLDOWN=
BOT__INTERVAL_COOLDOWN=

DATABASE__URL=

LOGGER__LEVEL=

GROQ__API_KEY=
GROQ__BASE_URL=
GROQ__MODEL=
GROQ__MAX_RETRIES=
GROQ__RETRY_DELAY=
